.carousel.carousel-slider {
  overflow: inherit;
}


.carousel .control-next.control-arrow,
.carousel .control-next.control-arrow:hover {
  background-color: transparent;
  z-index: 100;
}

.carousel .control-prev.control-arrow,
.carousel .control-prev.control-arrow:hover {
  
  background-color: transparent;
  z-index: 100;
}

.carousel .control-next.control-arrow:before {
  content: '';
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.carousel .control-prev.control-arrow:before {
  content: '';
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@media only screen and (max-width: 600px) {
  .carousel .control-next.control-arrow,
  .carousel .control-prev.control-arrow {
    /* background-color: red; */
    display: none;
  }
}